---
import Layout from '../layouts/Layout.astro';
import TrackDirectory from '../components/TrackDirectory.astro';
---

<Layout title="Track Directory">
  <main class="container mx-auto">
    <h1 class="text-3xl font-bold text-center my-8">Track Directory</h1>
    <TrackDirectory />
  </main>
</Layout>
